<div class="card m-3">
  <h5 class="card-header">Register to Social site</h5>
  <div class="card-body">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <div class="form-row">
        <div class="form-group col">
          <label>Old password</label>
          <input
            type="password"
            formControlName="oldPassword"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.oldPassword.errors }" />
          <div *ngIf="submitted && f.oldPassword.errors" class="invalid-feedback">
            <div *ngIf="f.oldPassword.errors.required">Type an old password</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col">
          <label>New password</label>
          <input
            type="password"
            formControlName="newPassword"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" />
          <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
            <div *ngIf="f.newPassword.errors.required">Type a new password</div>
            <div *ngIf="f.newPassword.errors.mustDifferent">Passwords should be different</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col">
          <label>Confirm password</label>
          <input
            type="password"
            formControlName="confirmPassword"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
          <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
            <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
            <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
          </div>
        </div>
      </div>

      <div class="text-center">
        <button class="btn btn-primary mr-1">Register</button>
        <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
      </div>
    </form>
  </div>
</div>
